body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;

}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#sidebar {
    padding: 12px;
    font-size: 0.7rem;
    max-width: 300px;
    background-color: wheat;
}
#section2 {
    display: flex;
    background-color: #333666;
    padding: 30px;
    color: wheat;

}

#section2 p {
    margin: 0 10px;
}

#para1 {
    font-size: 1.8rem;
    opacity: 0.7;
    padding: 20px;
}

#para2 {
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    opacity: 0.6;
}